.mainpage{
    width: 100vw;
    height: 125vh;
    /*background: url(https://ik.imagekit.io/thescentsation56/perfume_images/main1_5Ya0k_hWv.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1654444112509);
    background-size: 100vw;*/
    background-color: lightgray;

}