.checkout__body{
    background-color: lightgray;
    height: 130vh;
}

.checkout__container{
    background-color: white;
    margin: 20px;
    width: 70vw;
}

.textgap{
    margin: 5px;
}

.placeorder__button{
    width: 250px;
    height: 30px;
    border-radius: 10px;
    margin: 5px;   
    border: 0px;
    color: white;
    background-color: black;
}
