.RightSize__main{
    width: 1100px;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    margin: 45px;
}

.Product{
    width: 200px;
    margin-top: 30px;
    margin-right: 160px;
}

.Product__name{
    font-size: 16px!important;
    line-height: 24px!important;
    font-weight: bold;
    margin-left: 20px;
}

.Product__rating{
    font-size: 14px;
    color: grey;
    margin-left: 20px;
}

.Product__price{
     color: darkgreen;
     font-size: 20px;
     font-weight: 600px;
     margin-left: 20px;
}